a {
  transition: color 0.2s ease;
}

h1, h2, h3, h4, h5, h6 {
  transition: color 0.2s ease;
}

h1 {
  font-size: rem-convert(24px);
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: rem-convert(16px);
  font-weight: 700;
  line-height: normal;
}